body{
    background-color: rgb(201, 201, 201);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



.container{
    width: 80%;
    margin: auto;
}
.box-1{
    background-color: rgb(223, 223, 223);

    border: 5px rgb(255, 255, 255) solid;

    padding: 5px 50px;

    color: rgb(187, 48, 48);


}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: rgb(177, 177, 177)
}

ul.main_menu {
    margin-top: 15px;

}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;

}

.main_menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px;
    font-variant: small-caps;

}

.main_menu a:hover {
    color: #59d5d8;
}

.github-link {
    color: #0026ff;
}

.container2{
    width: 80%;
    margin: auto;
}
.box-2{

    padding: 5px 50px;

    color: rgb(199, 199, 199);
}
.centering{
    text-align: center;
    
}