body{
    background-color: rgb(255, 255, 255);
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;


    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#headerBox{
    background-color: rgb(231, 252, 124);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    position: fixed;
    color: white;
    
}



.container{
    width: 97%;
    max-width: 97%;
    max-height: 100%;
    margin:auto;
    margin-top: 100px;
    left: 0;
    right: 0;
    
}
.box-1{
    background-color: #b7e0ff;

    border: 13px #91cfff solid;
    border-radius: 50px 250px 50px 50px;

    color: rgb(255, 155, 155);
    
    bottom: 20px;
    left: 0;



}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px 250px 50px 50px;
}

ul.main_menu {
    margin-top: 15px;

}

.main_menu li {
    display: inline;
    padding: 0 15px 0 50px;
    font-size: 16px;

}

.main_menu a {
    text-decoration:none;
    color: rgb(42, 103, 167);
    padding: 8px;
    font-variant: small-caps;
    font-weight:900;


}

.main_menu a:hover {
    color: #ffffff;
}

.github-link {
    color: #0026ff;
}

.container2{
    width: 80%;
    margin: auto;
}
.box-2{

    padding: 5px 50px;

    color: rgb(0, 0, 0);
}
.centering{
    text-align: left;
    line-height: 0%;
    margin-left: 2%;
    padding: 0px;
    margin: 0;
    text-shadow: 0 0 5px white,
             0 0 7px white,
             0 0 10px white,
             0 0 21px white,
             0 0 42px white,            
             0 0 82px white,
             0 0 92px white,
             0 0 120px white;
}

.lorems{
    color: #ffff3d;
    opacity: 0.7;
    padding: 5px 50px;
}


body {
    background:#2d2d2d;
    top: 100px;
}  
  .arrows {
      width: 60px;
      height: 72px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 20px;
  }
  
  .arrows path {
      stroke: #ffff3d;
      fill: transparent;
      stroke-width: 1px;	
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
      animation-delay:-1s;
      -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
      animation-delay:-0.5s;
      -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 {	
      animation-delay:0s;
      -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }


