body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 251, 208);

}
.headerBox{
    font-family: 'Gruppo', cursive;
    background-color: rgb(2, 51, 0);
    left: 0;
    right: 0;
    top: 0;
    height: 3em;
    position: fixed;
    color: rgb(255, 255, 255);
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    z-index: 1;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 7px rgb(255, 255, 255),
    0 0 10px rgb(255, 188, 72),
    0 0 21px white;
    opacity: .975;
}
@media screen and (max-width: 500px){
    .headerBox{
        
    
      
    
    }
}

.headerBox h1 {
    position:relative;
    padding-top: 0.5em;
    padding-left: 1em;
    letter-spacing: 1em;
    font-size: 2em;
    z-index: 2;
    bottom: 1em;
    width: 50%;


}

.github-link{

    top: 10%;
    position: absolute;
    color:rgb(255, 255, 255);
    border: 5px rgb(83, 109, 255) solid;
    border-radius: 25px 25px 25px 25px;
    padding:10px 25px 10px 25px;
    text-shadow: 0 0 5px rgb(255, 255, 255),
    0 0 7px rgb(255, 188, 72),
    0 0 10px rgb(255, 188, 72),
    0 0 21px rgb(255, 255, 255),
    0 0 42px rgb(255, 255, 255),            
    0 0 82px rgb(255, 255, 255),
    0 0 92px rgb(255, 255, 255),
    0 0 120px rgb(255, 255, 255);
}

.box-1{
    background-color: rgb(2, 51, 0);
    width: 44%;
    border-radius: 35px 35px 40px 40px;
    color: gold;
    top: 10%;
    right: 2%;
    position:absolute;
    border-style: double;
    height: 36em;
}
@media screen and (max-width: 500px){
    .box-1{
        background-color: rgb(2, 51, 0);
        height:24em;
        top: 30%;
        width:94%;
    
    }
}
.centering{
    font-family: 'Monoton', cursive;
    position:absolute;
    color: rgb(3, 98, 0);
    line-height: 0.1em;
    text-shadow: 0 0 5px rgb(255, 255, 255),
             0 0 7px rgb(255, 188, 72),
             0 0 10px rgb(255, 188, 72),
             0 0 21px white,
             0 0 42px rgb(255, 255, 255),            
             0 0 82px rgb(255, 255, 255),
             0 0 92px rgb(255, 255, 255);

}

@media screen and (max-width: 500px){
    {
    
      
    
    }
}


.h1_1{
    top: 2em;
    font-size: 2.4em;
    position:relative;
    left:.64em;

 
}

@media screen and (max-width: 500px){
    .h1_1{
        font-size: 1.2em;
    
      
    
    }
}
.h1_2{
    font-size: 2.4em;
    position:relative;
    top: 2.75em;
    left: 11em;

}
@media screen and (max-width: 500px){
    .h1_2{
        font-size: 1.2em;
    
      
    
    }
}

.h1_3{
    font-size: 2.4em;
    position:relative;
    top: 3.5em;
    left: 10.05em;


}
@media screen and (max-width: 500px){
    .h1_3{
        font-size: 1.2em;
    
      
    
    }
}


.container{
    top: 0px;
    height: 35em;
    width: 100%;
    position:relative;
}
.main_menu {
    font-family: 'Gruppo', cursive;
    text-align: center;
    margin-top: 0px;
    position: relative;
    border-radius: 50px 50px 50px 50px;
    text-shadow: 0 0 3px rgb(0, 0, 0),
    0 0 7px rgb(255, 255, 255),
    0 0 10px rgb(255, 188, 72),
    0 0 21px white;
}


.main_menu li {
    position:relative;
    display:block;
    font-size: 7em;
    letter-spacing: 5px;
    line-height: .935em;
    padding-bottom: 10px;


}

.main_menu a {
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-weight:900;

}

.main_menu a:hover {
    color: #ffffff;
}

.github-box{
    
}
.github-link {
    color: #0026ff;
}






.lorems{
    color: #000000;
    opacity: 0.7;
    top: 700px;
    position:absolute;
    margin-left: 20%;
    margin-right: 20%;
}
.blogText{
    color: #ffffff;
    opacity: 0.7;
    top: 700px;
    position:absolute;
    margin-left: 20%;
    margin-right: 20%;
}



  .arrows {
      width: 60px;
      height: 72px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 20px;
  }
  
  .arrows path {
      stroke: #ffffff;
      fill: transparent;
      stroke-width: 1px;	
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
      animation-delay:-1s;
      -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
      animation-delay:-0.5s;
      -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 {	
      animation-delay:0s;
      -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }


