/* Core Styles */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(164, 192, 137);
    color:rgb(0, 0, 0);
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    background-image: linear-gradient(to left top, rgb(0, 0, 0), rgb(17, 32, 53));

}


h1, h2, h3{
    margin: 0;
    padding: 2em 0;
    

}

.btn:hover{
    background:#000000;
    color: 333;
}

/*Header Showcase*/
#showcase .title{
    color:rgb(255, 255, 255);
    display: inline-block;
    position: fixed;
    margin-top: -45px;
    margin-left: 36%;
    opacity: .1;
}
#showcase .content-wrap{
    min-height:450px;
    max-height: 450px;
    color: rgb(216, 205, 109);;
    text-shadow:
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(255, 252, 95),
    0 0 21px rgb(255, 252, 95);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    
}

.btn{
    color: white;
    border: rgb(216, 205, 109);;
    border-style: double;
    padding: 5px;
    border-radius: 10px;
}






#showcase h1{
    padding-top: 1em;
    padding-bottom: 0em;
    text-align: left;
    font-size:230%;
}

#showcase p{
    color: #2c0000;
    border: 1px solid #666;
    border: 1px solid #666;
    border-radius: 10px;
    border-color: #fff;
    display: inline-block;
    margin-top: 1px;
    padding: 5px;

}
/*Section A*/

#section-a {
    background-image: linear-gradient(to top left, rgb(0, 11, 34), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    padding-bottom: 2em;
}
#section-a1 .content-wrap {
    padding: 0 1.5em;
}

#section-a1 {
    background: #eaeaea;
    color: rgb(95, 0, 0);
    padding-bottom: 2em;
}
#stockbox1, #stockbox2{
    background-color: green;
    width: 10%;
    height: 10%;
    padding: 5%;
    color:white;
    display: inline-block
}
#stockbox2{
    background-color: orange;

}
.datejs{
    color: rgb(146, 0, 0)
}

/*Section B*/

#section-b{
    padding: 2em 1em 1em;


}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow:
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 21px #fff;
}

#section-b li {
    margin-bottom: 1em;
    background: #333;
    color:#333;
}

.card-content1{
    padding: 1.5em;

    color: rgb(255, 255, 255);
    border-radius: 5%;
}
/* this gets rid of the underlining and color changning issue */
.card-content1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.card-content1:hover{
    background:rgb(230, 255, 255);
    color: 333;

}
.card-content2{
    padding: 1.5em;
    color: rgb(255, 255, 255);
    border-radius: 5%;
}
/* this gets rid of the underlining and color changning issue */
.card-content2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.card-content2:hover{
    background:rgb(255, 227, 255);
    color: 333;

}
.card-content3{
    padding: 1.5em;
    color: rgb(255, 255, 255);
    border-radius: 5%;
    text-decoration: none;
}

/* this gets rid of the underlining and color changning issue */
.card-content3 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.card-content3:hover{
    background:rgb(255, 255, 224);
    text-decoration: none;


}

/*Section C*/

#section-c{
    background-image: linear-gradient(to top left, rgb(0, 11, 34), rgb(0, 0, 0));
    color: rgb(216, 205, 109);
    padding: 2em;
}

/*Section D*/

#section-d .box{
    padding: 2em;
    color:#fff;
}

#section-d .box:first-child{
    background: #181818;
}

/*Footer*/

#main-foot {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

#main-footer a {
    color: #ffffff;
    text-decoration: none;
}

/*Media Query*/

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 
        1fr;
    }

    #section-a .content-text{
        columns: 2;
        column-gap: 2em;
    }

    #section-a .content-text p {
        padding-top: 0;
    }

    .content-wrap, 
    #section-b ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 31%;
    }
}